{% extends 'layout.html' %}

{% block content %}

<div class="map-container col-sm-8 col-lg-9">
	
    <div>
	  	<div id="map-canvas">
        <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-address">
      <label for="changetype-address">Addresses</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>    
        </div>

	</div>
</div>
<div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      	<div class="panel panel-default">
        	<div class="panel-body">
        		<form id="map-rating">
        			Name of Location: 
        			<br>
        			<input id="nameOfLoc" type="nameOfLoc">
        			<br>
        			<input type="submit" value="Submit">
        		</form>
        	</div>
    	</div>
	</div>
</div>

{% endblock %}