{% extends 'layout.html' %}

{% block content %}

<div class="map-container col-sm-8 col-lg-9">
	<div>
	  	<div id="map-canvas"></div>
	</div>
</div>
<div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      	<div class="panel panel-default">
        	<div class="panel-body">
        		<form id="map-settings">
        			Radius: 
        			<br>
        			<input id="radius" type="number" value="0">
        			<br>
        			Type: 
        			<br>
        			<input type="checkbox" name="bar" id="bar" value="bar">Bar
        			<br>
        			<input type="checkbox" name="liquor" id="liquor" value="liquor">Liquor Store
        			<br>
        			<input type="submit" value="Submit">
        		</form>
        	</div>
    	</div>
	</div>
</div>

{% endblock %}